/* warmth theme version 2.1 - commented out collapsing sidebars and removed width setting for preview mode since fixed in obsidian app */
/* by chad bennett - chad.bennett@live.com */

.theme-light {
    --background-primary: #edece8;
    --background-primary-alt: #edece8;
    --background-secondary: #f6f6f4;
    --background-secondary-alt: #e0deda;
    --background-accent: #fff;
    --background-modifier-border: #ddd;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #e68787;
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #FF9494;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #a7582d;
    --text-accent-hover: #266f92;
    --text-normal: #1b1b1b;
    --text-muted: #666666;
    --text-faint: #999999;
    --text-error: #800000;
    --text-error-hover: #990000;
    --text-highlight-bg: #d0d6b1;
    --text-highlight-bg2: #d5dcb6;
    --text-selection: #cad8d7;
    --text-on-accent: #f2f2f2;
    --text-tags: #896b97;
    --interactive-normal: #f2f3f5;
    --interactive-hover: #e9e9e9;
    --interactive-accent: #92a85b;
    --interactive-accent-rgb: 146, 168, 91;
    --interactive-accent-hover: #698524;
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --font-family: Metropolis, Avenir, "Avenir Next", Calibri;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


html,
body {
    font-size: 18px;
    font-family: var(--font-family) !important;
}

pre code {
    padding: 4px !important;
    line-height: normal;
    display: block;
}

th {
    font-weight: 600 !important;
}

thead {
    border-bottom: 2px solid var(--background-modifier-border);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-container-header {
    padding-top: 0 !important;
}

.title {
    font-weight: 600 !important;
}

.view-header-title {
    color: var(--background-modifier-border);
}

.side-dock-panels-container * {
    font-size: 14px !important;
}

.side-dock-title {
    padding-top: 15px !important;
    font-size: 22px !important;
}

.nav-file {
    line-height: normal;
}

.nav-file-title-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-folder.mod-root>.nav-folder-children {
    padding-left: .3rem;
}

.plugin {
    padding: 5px 10px !important;
    margin: 0 !important;
}

.search-result-file-title {
    font-weight: 700;
    line-height: 1rem;
    font-size: .8rem !important;
}


.editor,
.preview {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.cm-s-obsidian {
    font-family: var(--font-family-preview);
}

.cm-header,
.cm-strong {
    color: var(--text-accent-hover);
}


.CodeMirror-sizer {
    width: 80% !important;
    max-width: 700px !important;
    /*margin: auto !important;*/
    margin-top: 20px;
}

.cm-s-obsidian .cm-header,
.cm-s-obsidian .cm-strong {
    font-weight: 800;
}

.table {
    background-color: var(--background-secondary-alt);
    border: 1px solid var(--background-modifier-border);
    padding: 4px;
    line-height: normal;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.cm-url {
    color: var(--text-accent-hover) !important;
}

.cm-url:hover,
.cm-s-obsidian span.cm-hmd-internal-link {
    color: var(--text-accent) !important;
    opacity: .8;
    text-decoration: none;
}

.cm-s-obsidian span.cm-hmd-internal-link:hover {
    color: var(--text-accent-hover) !important;
}

.cm-s-obsidian span.cm-quote {
    color: var(--text-accent) !important;
}

.cm-s-obsidian span.cm-highlight {
    padding: .4rem .2rem;
}

.cm-s-obsidian span.cm-formatting-highlight {
    padding: .4rem 0;
}

.cm-s-obsidian span.cm-hashtag {
    color: var(--text-tags) !important;
    text-decoration: none !important;
}

.cm-s-obsidian pre.HyperMD-list-line {
    padding-left: 2rem;
}

.cm-s-obsidian span.cm-inline-code {
    background: var(--background-secondary) !important;
    color: var(--text-error);
    padding: .2rem;
}

.CodeMirror pre.HyperMD-table-row,
.cm-s-obsidian pre.HyperMD-table-row span.cm-hmd-table-sep,
.cm-s-obsidian pre.HyperMD-table-row-1>span {
    color: var(--text-muted) !important;
}



/* preview */

.markdown-preview-view {
    padding: 30px;
    border-left: 1px solid var(--background-modifier-border);
}

.markdown-preview-view p,
.markdown-preview-view ul,
.markdown-preview-view ol,
.markdown-preview-view blockquote {
    margin-bottom: 2rem;
    position: relative;
}

.markdown-highlighting {
    font-weight: 500;
}

.markdown-preview-view a {
    color: var(--text-accent-hover) !important;
    transition: color .4s;
}

.markdown-preview-view a:hover {
    color: var(--text-accent) !important;
    text-decoration: none;
}

.markdown-preview-view hr {
    margin: 1rem;
    height: 1px;
    border: none;
    background-color: var(--text-muted);
}

.markdown-preview-view blockquote {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background: var(--background-secondary-alt) !important;
}

.markdown-preview-view mark {
    background: var(--text-highlight-bg);
    padding: .2rem .4rem;
    display: inline;
    white-space: pre-wrap;
}

.markdown-preview-view mark::after {
    content: "";
    position: absolute;
    top: -0.25em;
    right: 100%;
    bottom: -0.25em;
    width: 0.35em;
}

.markdown-preview-view blockquote mark {
    background: var(--text-highlight-bg2);
    display: block;
    border-radius: .4rem;
    padding: .4rem;
}

.markdown-preview-view code {
    background: var(--background-secondary);
    padding: .2rem .4rem;
    border-radius: .4rem;
    display: inline-block;
}

.markdown-preview-view table {
    width: 90%;
    margin: auto;
    background: var(--background-secondary-alt);
}

.markdown-preview-view thead,
.markdown-preview-view th {
    background: var(--text-faint) !important;
    color: var(--background-secondary) !important;
    border: 1px solid var(--text-muted);
}

.markdown-preview-view th,
.markdown-preview-view td {
    padding: .8rem;
    border-color: var(--text-muted) !important;
}

.HyperMD-quote-1,
.HyperMD-quote {
    padding-left: 2rem !important;
}

a.tag {
    color: var(--text-tags) !important;
    background: var(--background-secondary) !important;
    font-size: 1rem;
    border-radius: .3rem;
    /* padding: .2rem; */
    /* display: inline-block; */
    text-decoration: none !important;
    line-height: normal;
    transition: color .4s, background .4s;
}

a.tag:hover {
    color: var(--background-secondary) !important;
    background: var(--text-tags) !important;
}


/* Andy Matuschak mode! V2! to move title bars sideways.  */
/* .workspace-split.mod-vertical { overflow-x:auto; }
.workspace-leaf, .workspace-split > .workspace-split { min-width: 650px; min-height: 500px; }
.workspace-split.mod-horizontal { overflow-y: auto; }

.workspace-split.mod-vertical > * {
    flex-direction: row;
    display: flex;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.03);
}

.workspace-leaf {
    position: sticky;
    --stick-left: 40px;
    left:0;
}

.workspace-leaf:nth-child(10n-8) { left: calc(var(--stick-left) * 0); }
.workspace-leaf:nth-child(10n-7) { left: calc(var(--stick-left) * 1); }
.workspace-leaf:nth-child(10n-6) { left: calc(var(--stick-left) * 2); }
.workspace-leaf:nth-child(10n-5) { left: calc(var(--stick-left) * 3); }
.workspace-leaf:nth-child(10n-4) { left: calc(var(--stick-left) * 4); }
.workspace-leaf:nth-child(10n-3) { left: calc(var(--stick-left) * 5); }
.workspace-leaf:nth-child(10n-2) { left: calc(var(--stick-left) * 6); }
.workspace-leaf:nth-child(10n-1) { left: calc(var(--stick-left) * 7); }
.workspace-leaf:nth-child(10n+0) { left: calc(var(--stick-left) * 8); }
.workspace-leaf:nth-child(10n+1) { left: calc(var(--stick-left) * 9); }

.workspace-leaf-content {
    display: flex;
    padding-right: 0;
}

.view-header {
    writing-mode: vertical-lr;
    border-right: 1px solid var(--background-secondary-alt);
    border-left: 2px solid var(--background-secondary-alt);
    border-top: none;
    border-bottom: none;
    height: auto;
}

.view-header-title-container {
    width: 40px;
    height: unset;
    padding-left: unset;
    padding-top: 20px;
}

.workspace-leaf.mod-active .view-header {
    border-right: 2px solid var(--interactive-accent);
    border-bottom: none;
}

.view-actions {
    padding: 10px 5px;
}

.view-header-title-container:after {
    width: 100%;
    height: 30px;
    top:unset;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--background-secondary));
}

.workspace-leaf.mod-active .view-header-title-container:after {
    background: linear-gradient(to bottom, transparent, var(--background-primary-alt));
}

.view-action {
    margin: 8px 0;
    top: 0;
}

.view-content {
    height: 100%;
} */

/* collapsing sidebars 
.app-container.is-left-sidedock-collapsed .side-dock.mod-left:not(:hover), .app-container.is-right-sidedock-collapsed .side-dock.mod-right:not(:hover) {
    width: 0px !important;
  }*/